<div class="container1">
  <h1>Do you like your drink?</h1>
  <h3>Keep track of the drinks you like</h3>
</div>

<div class="container2">
  <h2>Add a drink</h2>
  <h4>Enter a drink you'd like to eat, and click submit</h4>
  <form class="create-form">

    <p>Drink Name:</p>
    <div class="form-group">
      <textarea type="text" id="drink" rows="4" name="name" placeholder="WHATS YOUR DRINK"></textarea>
    </div>

    <button type="submit" class="form-button">Add My Drink</button>
  </form>
</div>

<div class="drink-list">
  {{!-- If devoured returns a falsy value (ie, not yet devoured), Handlebars WILL render drink-block partial, setting devoured to false. 
Otherwise, it will render nothing. --}}
  <div class="not-devoured">
    <h2>Order Here</h2>
    <ul>
      {{#each drinks}}
      {{#unless devoured}}
      {{> drinks/drink-block devoured=false}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="devoured-drinks">
    <h2>Devoured Drinks</h2>
    <ul>
      {{#each drinks}}
      {{#if devoured}}
      {{> drinks/drink-block devoured=true}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  </div>


  {{!-- If devoured is true (eaten), it will render --}}
  {{!-- <div class="devoured-drinks">
    
</div> --}}
