<header class="main-header">
  <div class="header1">
  <h1 id="maintitle">Drinks Review<h1>
  <nav class="nav main-nav">
    <ul>
      <li><a href="#Sign-Up">SIGN UP</a></li>
      <li><a href="#Login">LOGIN</a></li>
      <li><a href="#About">ABOUT</a></li>
      <li><a href="#Settings">SETTINGS</a></li>
    </ul>
  </nav>
  </div>
</header>

<div class="d1">
  <h1>So you like your drink?</h1>
  <h3>Keep track of the drinks you like</h3>
</div>

<div class="d2">
  <h2>Add a drink</h2>
  <h4>What drink would you like to try?</h4>
  <form class="create">

    <p>Drink Name:</p>
    <div class="form-group">
      <textarea type="text" id="drink" rows="4" name="name" placeholder="WHATS YOUR DRINK"></textarea>
    </div>
    <p>Comments:</p>
    <div class="form-group">
      <textarea type="text" id="comment" rows="4" name="name" placeholder="ADD YOUR THOUGHTS"></textarea>
    </div>

    <button type="submit" class="addmydrink">Add My Drink</button>
  </form>
</div>

<div class="drink-list">
 
  {{!-- not yet tried, nothing will render --}}
    <h2 class="tryandtried">To-Try List</h2>
    <center>
  <div class="listblock">
  <div class="not-tried">
    <ul>
      {{#each drinks}}
      {{#unless tried}}
      {{> drinks/drink-block tried=false}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  </div>
  </center>
  {{!-- render if tried --}}
    <h2 class="tryandtried">Tried Drinks</h2>
    <center>
  <div class="listblock">
  <div class="tried-drinks">
    <ul>
      {{#each drinks}}
      {{#if tried}}
      {{> drinks/drink-block tried=true}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  </div></center>


