<div class="container1">
  <h1>So you like your drink?</h1>
  <h3>Keep track of the drinks you like</h3>
</div>

<div class="container2">
  <h2>Add a drink</h2>
  <h4>What drink would you like to try?</h4>
  <form class="create-form">

    <p>Drink Name:</p>
    <div class="form-group">
      <textarea type="text" id="drink" rows="4" name="name" placeholder="WHATS YOUR DRINK"></textarea>
    </div>

    <button type="submit" class="form-button">Add My Drink</button>
  </form>
</div>

<div class="drink-list">
 
  <div class="not-tried">
    <h2>To-Try List</h2>
    <ul>
      {{#each drinks}}
      {{#unless tried}}
      {{> drinks/drink-block tried=false}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="tried-drinks">
    <h2>Tried Drinks</h2>
    <ul>
      {{#each drinks}}
      {{#if tried}}
      {{> drinks/drink-block tried=true}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  </div>


